* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(97, 26, 179);
}

.content h1 {
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0 3rem 0;
    font-family: "Tiny5", serif;
    font-weight: 500;
    font-style: normal;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
}

 
.btn {
    border: 10px solid black;
    border-radius: 5rem;
    cursor: pointer;
    width: 20rem;
    height: 20rem;
}

.game-over {
    background-color: red;
    opacity: .8;
}

.yellow {
    background-color: yellow;
}


.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.pressed {
    background-color: darkgray;
    box-shadow: 0 0 20px white;;
}